{% extends 'base.html.twig' %}

{% block title %}PaieCash{% endblock %}

{% block body %}
    <div>Country:
        <span id="country"></span>
    </div>
    <div>State:
        <span id="state"></span>
    </div>
    <div>City:
        <span id="city"></span>
    </div>
    <div>Latitude:
        <span id="latitude"></span>
    </div>
    <div>Longitude:
        <span id="longitude"></span>
    </div>
    <div>IP:
        <span id="ip"></span>
    </div>
    <button class="btn btn-info">Liste des revendeurs proche de moi</button>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $.ajax({
            url: "https://geolocation-db.com/jsonp",
            jsonpCallback: "callback",
            dataType: "jsonp",
            success: function (location) {
            $('#country').html(location.country_name);
            $('#state').html(location.state);
            $('#city').html(location.city);
            $('#latitude').html(location.latitude);
            $('#longitude').html(location.longitude);
            $('#ip').html(location.IPv4);
            }
        });
    </script>

{% endblock %}
